:root {
  --color-primary: rgb(26, 30, 34);
  --color-secondary: rgb(36, 41, 46);
  --white-darker: #f9f9f9;
  --white: #fff;
  --color-blue: rgb(0, 112, 243);
  --color-blue-darker: rgb(2, 95, 201);
}
